sudo: required

services:
- docker

language: java
dist: trusty

jdk:
- openjdk11

cache:
  directories:
  - $HOME/.m2


script:
- mvn clean package -U
- docker build -t gsas/rso-buyers .

after_success:
- docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
- docker push gsas/rso-buyers
